*.jks
*.key
*.mobileprovision
*.p12
*.p8
*.md
*.orig.*

node_modules
dist
web-build
.git
.expo
.DS_Store
.expo
.npmignore
.vscode

package-lock.json
yarn.lock
yarn-error.log
yarn-debug.log*
npm-debug.*
.env
